<ion-view view-title="Benvenuto/a">
  <ion-content class="padding">
    <br>
    <h2 align="center">Benvenuto o benvenuta!</h2>
    <p align="center">La presente app è
    <br>una semplice iniziativa gratuita
    <br>per principinati.
    <br>Vuole aiutare a prendere contatto col testo masoretico biblico (TM),
    <br>la lingua in cui è scritta <br>la maggior parte del testo della Bibbia ebraica.
    <br>
    <br> Sei dunque il benvenuto.
    <br>
    <br>"La passione muove alla conoscenza
    <br>la pazienza del comprendere, alla sapienza".
    </p>
  </ion-content>
</ion-view>
