<ion-view view-title="Alfabeto">
    <ion-content>
      <!--Qui sono inseriti tutte le lettere dell'alfabeto, con i rispettivi collegamenti-->
      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ג</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ב</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">א</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">ו</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">ה</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">ד</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">ט</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">ח</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">ז</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">ל</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">כ</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">י</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">ס</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">נ</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">מ</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">צ</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">פ</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">ע</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">שׂ</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">ר</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">ק</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">ת</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/chats">שׁ</a></div>
      </div>

    </ion-content>
  </ion-view>
  