<ion-view view-title="Alfabeto">
    <ion-content>
      <!--Qui sono inseriti tutte le lettere dell'alfabeto, con i rispettivi collegamenti-->
      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ג</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ב</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">א</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ו</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ה</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ד</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ט</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ח</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ז</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ל</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">כ</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">י</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ס</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">נ</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">מ</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">צ</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">פ</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ע</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">שׂ</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ר</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ק</a></div>
      </div>

      <div class="row">
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">ת</a></div>
        <div align="center" class="col"><a class="button button-clear button-dark" href="#/tab/vocaboli">שׁ</a></div>
      </div>

    </ion-content>
  </ion-view>
  