<ion-view view-title="Sintassi">
    <ion-content>

        <!--Qui sono inseriti gli argomenti della sintassi, coi rispettivi collegamenti-->

        <div align="center"><a class="button button-clear button-dark" href="#/tab/fonetiche">fonetica</a></div>
        <div align="center"><a class="button button-clear button-dark" href="#/tab/morfologia">morfologia</a></div>
        <div align="center"><a class="button button-clear button-dark" href="#/tab/nozioni_di_sintassi">nozioni di sintassi</a></div>
      

    </ion-content>
  </ion-view>
  