<ion-view view-title="Benvenuto/a">
  <ion-content class="padding">
    <br>
    <h2 align="center">Benvenuto o benvenuta!</h2>
    <p align="center">La presente app è
    <br>una semplice e gratuita iniziativa.
    <br>È per principianti.<br>
    <br>Vuole aiutare a familiarizzare <br> col testo masoretico biblico (TM),
    <br>la lingua in cui è scritta <br>la maggior parte del testo <br> della Bibbia ebraica.
    <br>
    <br> Sei dunque il benvenuto.
    <br>
    <!--<br>Imparare a prendersi cura della lingua
    <br>è iniziare a prendersi cura di sé e di quanto ci circonda.
    <br>La passione, poi, muove alla conoscenza
    <br>la pazienza del comprendere, alla sapienza.
    <br>Possa tu incontrare Dio.-->
    </p>
    <p align="center" style="color:#cac8c8;font-weight:300;font-style:italic;"><br> (&copy;) Piergiacomo Zanetti
    <br>www.pfts.it</p>
  </ion-content>
</ion-view>
