<ion-view view-title="Vocaboli">

    <!-- Questa è la barra di ricerca-->
    <ion-header-bar class="bar-subheader bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="vocabolo_filter" ng-change="search()">
      </label>
    </ion-header-bar>
  
    <!-- Questa è il contenuto degli item-->
    <ion-content>
      <ion-list>

        <!-- Qui c'è l'item divider - Aleph  -->
        <div class="item item-divider" align="right">
          aleph - א
        </div>
        
        <!-- Qui c'è l'elenco degli items
        Nota che: la funzione che fa da filtro ai vocaboli si trova in "ng-repeat=" ed è questa " | filter:vocabolo_filter | filter: { lettera: ''}".
        Essa è collegata a ng-model="vocabolo_filter" di input della barra di ricerca
      -->

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'א'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>


         <!-- Qui c'è l'item divider - Beth  -->
         <div class="item item-divider" align="right">
          beth - ב
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ב'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>
        
        <!-- Qui c'è l'item divider - Ghimel  -->
        <div class="item item-divider" align="right">
          Ghimel - ג
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ג'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Daleth  -->
        <div class="item item-divider" align="right">
          Daleth - ד
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ד'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - He  -->
        <div class="item item-divider" align="right">
          He - ה
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ה'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Waw  -->
        <div class="item item-divider" align="right">
          Waw - ו
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ו'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Zain  -->
        <div class="item item-divider" align="right">
          Zain - ז
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ז'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Ḥeth  -->
        <div class="item item-divider" align="right">
          Ḥeth - ח
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ח'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Ṭeth  -->
        <div class="item item-divider" align="right">
          Ṭeth - ט
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ט'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Yod  -->
        <div class="item item-divider" align="right">
          Yod - י
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'י'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - kaf  -->
        <div class="item item-divider" align="right">
          Kaf - כ
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'כ'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Lamed  -->
        <div class="item item-divider" align="right">
          Lamed - ל
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ל'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Mem  -->
        <div class="item item-divider" align="right">
          Mem - מ
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'מ'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Nun  -->
        <div class="item item-divider" align="right">
          Nun - נ
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'נ'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Samek  -->
        <div class="item item-divider" align="right">
          Samek - ס
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ס'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - ‛ain  -->
        <div class="item item-divider" align="right">
          ‛ain - ע
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ע'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Pe  -->
        <div class="item item-divider" align="right">
          Pe - פ
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'פ'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Tzade  -->
        <div class="item item-divider" align="right">
          Tzade - צ
        </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'צ'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Qof  -->
        <div class="item item-divider" align="right">
          Qof - ק
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ק'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Resh  -->
        <div class="item item-divider" align="right">
          Resh - ר
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ר'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Sin  -->
        <div class="item item-divider" align="right">
          Sin - שׂ
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'שׂ'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Shin  -->
        <div class="item item-divider" align="right">
          Shin - שׁ
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'שׁ'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

        <!-- Qui c'è l'item divider - Tau  -->
        <div class="item item-divider" align="right">
          Tau - ת
         </div>

        <ion-item class="item-remove-animate item-icon-right" ng-repeat="vocabolo in vocaboli | filter: vocabolo_filter | filter: { lettera: 'ת'}" type="item-text-wrap" href="#/tab/vocaboli/{{vocabolo.id}}">
          <h2 align="right">{{vocabolo.termine}}</h2>
          <p>{{vocabolo.traslitterazione}} - {{vocabolo.significato}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(vocabolo)">
            Delete
          </ion-option-button>
        </ion-item>

      </ion-list>
    </ion-content>
    
  </ion-view>